# NUMBERS

Two Types of Numbers:
* Integers
* Floating point numbers

Integers: 
* whole numbers (+ve or -ve)

Floating point numbers:
* Have a decimal point in them, or use an exponential (e) to define the number
* For example 2.0 and -2.1 are examples of floating point numbers
* 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in python

**Basic Arithmetic**

In [20]:
# Addition
1+2

3

In [21]:
# Subtraction
2-1

1

In [22]:
# Multiplication
2*2

4

*Pay close attention to division: Python 2 does classic division. Python 3 does true division.*

In [23]:
3/2

1.5

In [24]:
3.0/2

1.5

In [25]:
# Turns the number into a float number
float(3)

3.0

In [26]:
# run this in Python 2 to get true division as seen in Python 3.
from __future__ import division

**Arithmetic Continued**

In [27]:
# Powers
2**3

8

In [28]:
4**5

1024

In [29]:
# Can also do roots this way
4**0.5

2.0

In [30]:
# Order of operations are followed in Python
2 + 10 * 10 + 3

105

In [31]:
# Can use parentheses to specify orders
(2+10)*(10+3)

156

**Variable Assignments**

In [32]:
# Let's create an object called "a" and assign it the number 5
a = 5

In [33]:
a

5

In [34]:
# Adding the objects
a + a

10

In [35]:
# Can write over labels / Reassignment
a = 10

In [36]:
# Check
a

10

In [37]:
# Python allows you to write over assigned variable names
a = a + a

In [38]:
# Check
a

20

The names you use when creating these labels need to follow a few rules:

1. Names can not start with a number.
2. There can be no spaces in the name, use _ instead.
3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
3. It's considered best practice (PEP8) that the names are lowercase.

In [39]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

In [40]:
tax_rate = 0.1

In [41]:
my_taxes = my_income * tax_rate

In [42]:
my_taxes

10.0

So what have we learned? 
* We learned some of the basics of numbers in Python. 
* We also learned how to do arithmetic and use Python as a basic calculator. 
* We then wrapped it up with learning about Variable Assignment in Python.