# Datetime Module

In [1]:
import datetime

In [3]:
t = datetime.time(5,25,1)

In [5]:
print(t)

05:25:01

In [6]:
t.hour

5

In [7]:
t.minute

25

In [9]:
t.microsecond

0

In [10]:
print(datetime.time.min)

00:00:00

In [11]:
print(datetime.time.max)

23:59:59.999999

**time**

In [ ]:
import datetime

t = datetime.time(4, 20, 1)
# Lets show the different compoenets

print t
print 'hour  :', t.hour
print 'minute:', t.minute
print 'second:', t.second
print 'microsecond:', t.microsecond
print 'tzinfo:', t.tzinfo

In [ ]:
print 'Earliest  :', datetime.time.min
print 'Latest    :', datetime.time.max
print 'Resolution:', datetime.time.resolution

**Dates**

In [ ]:
today = datetime.date.today()
print today
print 'ctime:', today.ctime()
print 'tuple:', today.timetuple()
print 'ordinal:', today.toordinal()
print 'Year:', today.year
print 'Mon :', today.month
print 'Day :', today.day

In [15]:
today = datetime.date.today()

In [16]:
print(today)

2018-04-03

In [17]:
today.year

2018

In [18]:
today.timetuple()

time.struct_time(tm_year=2018, tm_mon=4, tm_mday=3, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=1, tm_yday=93, tm_isdst=-1)

In [20]:
print(datetime.date.min)

0001-01-01

In [21]:
d1 = datetime.date(2015, 3, 11)
print(d1)

2015-03-11

In [22]:
d2 = d1.replace(year=1990)
print(d2)

1990-03-11

**Arithmetic**

In [23]:
d1

datetime.date(2015, 3, 11)

In [24]:
d2

datetime.date(1990, 3, 11)

In [26]:
d1-d2 # difference between the two dates

datetime.timedelta(9131)